@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Montserrat', sans-serif;    
    color: #533738;
    margin: 0 auto;
    width: 1400px;
    background-color: #EFE6E4;
}

.photo-back {
    background: url("img/main-photo.jpg") no-repeat;
    background-size: 100%;
    background-position: top center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
}

a {text-decoration: none;
    color: #533738;
}

ul {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

.request-heading, .request p {
    color: #ffffff;
}

.page-header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 38px;
}

.logo {
    margin-top: 1px;
}

.nav-items {
    display: flex;
    width: 824px;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.page-header a {
    font-size: 16px;
    line-height: 20px;    
}

main {
    display: flex;
    flex-direction: column;
    gap: 65px;
}

.main-heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px; 
}

.promo {
    width: 534px;
    margin-left: 184px;
    margin-top: 90px;
    margin-bottom: 162px; ;
}

.promo p {
    margin-top: 24px;
    margin-bottom: 24px;
}

.howwework li {
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 310px;
    height: 74px;
    padding: auto;
    background-color: #CC8B86;
    border: none;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #533738;
}

.about {
    display: flex;
    gap: 62px;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 24px;
}

.about-photo {    
    background-color: #CC8B86;
    width: 444px;
    height: 465px;
}

.about-description {
    width: 528px;
}

.about-description p:nth-of-type(2) {
    margin-top: 30px;
}

.advantages {
    background-color: #8D7370;
    height: 273px;
    width: 1400px;
}

.advantages-list { 
    width: 1040px;
    height: 273px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.advantages-list span {
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    margin-top: 8px;
}

.portfolio h2 {
    text-align: left;
}

.see-more {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    margin: 0;  
    display: block;
    text-align: center;
}

.see-more a {
    float: center;
}

.gallery {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;  
}

.gallery img {
    background-color: #CC8B86;
}

.gallery div:first-child {
    margin-right: 20px;
    margin-bottom: 30px;
}

.gallery img:nth-of-type(2) {
    margin-right: 20px;
}

.work-shadow {   
    width: 488px;
    height: 451px;   
    position: relative;
}

.work-shadow-photo {
    width: 100%;
    height: 100%;
    background-color: #CC8B86;
}

.shadow-overlay {
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 72, 69, 0.8); 
    opacity: 0;
    transition: opacity 0.3s;
    color: #ffffff;
}

.shadow-overlay:hover {
    opacity: 1;
}

.shadow-overlay p {
    margin: 20px 42px 122px;
}

.shadow-overlay h3 {
    margin-top: 86px;
}

.team {
    background-color: #E2C4BA;
    width: 1400px;
    height: 998;
    padding: 50px 0 80px;
}

.team-container {
    display: flex;
    justify-content: center;
    margin: 40px auto 35px;
}

.team-photo {
    background-color: #fff;
    width: 320px; 
    height: 253px;
}

.team-container figcaption {
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 320px;
}

.team-container figure:not(:last-of-type) {
    margin-right: 38px;
}

.howwework {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 40px;
}

.howwework li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 280px;
    
}

.howwework li:not(:last-of-type) {
    margin-right: 20px;
}

.number {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #8D7370;
    width: 70px;
    height: 70px;;
    border: none;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.feedback {
    display: flex;
    margin: 40px auto 0;
    align-items: center;
    justify-content: center;
}

.feedback1 {
    width: 450px;
    padding: 0;
}
.feedback1 p {
    margin: 0 30px 25px 20px;
}

.feedback-photo {
    background-color:#fff;
    width: 407px;
    height: 272px;
}

.feedback-photo1 {
    margin: 0 30px 20px 0;
}

.arrow {
    border: none;
    background-color:#EFE6E4;
    padding: 0;
}

.contacts {
    background-color: #8D7370;
    display: flex; 
    height: 624px;   
}

.request {
    width: 508px;
    margin-left: 180px;
    text-align: left;
}
.request h2 {
    margin-top: 50px;
    margin-bottom: 24px;
    text-align: left;
}

.form p {
    margin-bottom: 44px;
}

.form input:not(:nth-of-type(3)) {
    width: 508px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #F6EDE9;
    background-color: transparent;
    color:#F6EDE9;
}

input::placeholder {
    color: #F6EDE9;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.form-line2 {
    margin: 35px 0 32px 0;
}

.map {
    margin: 0 101px 0 20px;
    background-color: #E2C4BA;
}

.main-footer {
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;  
    padding: 37px 100px;
    justify-content: space-between;
}

